{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace fb=CRON\FormBuilder\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<f:form action="submit" method="post" additionalAttributes="{attributes}">

	<f:for each="{elementsArray}" as="element">
		<f:validation.results for="data.{element.identifier}">
			<ts:render path="formElementRenderer"  typoScriptPackageKey="CRON.FormBuilder" context="{node: element, flattenedErrors: validationResults.flattenedErrors}"/>
		</f:validation.results>
	</f:for>

	<f:if condition="{neos:rendering.inBackend(node: documentNode)}">
		<strong><f:translate id="formBuilder.index.backend.addFormElements" package="CRON.FormBuilder" /></strong>
	</f:if>
	<fb:formBuilder elements="{elementsArray}"/>
	{elements -> f:format.raw()}
	<f:form.hidden name="__formId" value="{node.identifier}"></f:form.hidden>
</f:form>
