{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<f:layout name="Default" />
<f:section name="Content">
	<f:form action="submit" method="post" additionalAttributes="{attributes}" section="{node.identifier}" id="{node.identifier}" enctype="{enctype}">
		<f:if condition="{neos:rendering.inBackend(node: documentNode)}">
			<strong><f:translate id="formBuilder.index.backend.addFormElements" package="CRON.FormBuilder" /></strong>
		</f:if>
		<ts:render path="elements" typoScriptPackageKey="{tsPackageKey}" context="{node: elements}"/>
		<f:form.hidden name="__formId" value="{node.identifier}"></f:form.hidden>
		<button type="submit" class="btn btn-default">{submitButtonLabel}</button>
	</f:form>
	<f:if condition="{neos:rendering.inBackend(node: documentNode)}">
		<strong><f:translate id="formBuilder.index.backend.addFormResponseElements" package="CRON.FormBuilder" /></strong>
		<ts:render path="responseElements"  typoScriptPackageKey="{tsPackageKey}" context="{node: responseElements}"/>
	</f:if>
</f:section>
