{namespace neos=Neos\Neos\ViewHelpers}
<div>
  <label style="display:none !important" for="subject">Enter Subject:</label>
  <input type="tel" id="subject" style="display:none !important" tabindex="-1" autocomplete="off" name="--cron_formbuilder-plugin[data][subject]" value="">
</div>
<div>
  <label style="display:none !important" for="phone">Enter your phone number:</label>
  <input type="tel" id="phone" style="display:none !important" tabindex="-1" autocomplete="off" name="--cron_formbuilder-plugin[data][phone]" value="{attributes.timehash}">
</div>