{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="{layoutName}" />
<f:section name="Content">
	<div class="checkbox {f:if(condition: flattenedErrors, then: 'has-error')}">
		<label>
			<f:if condition="{neos:rendering.inBackend()}">
				<f:then>
					<input {attributes -> f:format.raw()} type="checkbox" {f:if(condition: checked, then: 'checked')} readonly/> {node.properties.label}
				</f:then>
				<f:else>
					<input {attributes -> f:format.raw()} type="hidden" value="">
					<input {attributes -> f:format.raw()} type="checkbox" value="{node.properties.value}" {f:if(condition: checked, then: 'checked')}/> {node.properties.label}
				</f:else>
			</f:if>
		</label>
		<f:render partial="FlattenedErrors" arguments="{_all}" />
	</div>
</f:section>
