{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="formbuilder checkbox{errorclass}">
	<f:if condition="{node.context.workspace.name} == 'live'">
		<f:then>
			<label for="{node.identifier}">{label}</label>
			<input name="--data[{node.identifier}]" type="checkbox" value="{f:if(condition: readonly, then: '{value}')}"{f:if(condition: required, then: ' required')}{f:if(condition: readonly, then: ' readonly')}{f:if(condition: checked, then: ' checked')}/>
		</f:then>
		<f:else>
			<label for="{node.identifier}">{label}</label>
			<input name="--data[{node.identifier}]" type="checkbox" readonly{f:if(condition: checked, then: ' checked')}/>
		</f:else>
	</f:if>
</div>
