{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="{layoutName}" />
<f:section name="Content">
  <f:if condition="{neos:rendering.inBackend()}">
    <f:then>
      <input {attributes -> f:format.raw()} type="text" placeholder="{node.properties.placeholder}" readonly>
    </f:then>
    <f:else>
      <f:comment>Hidden field needed, otherwise empty upload results in plugin 403 error</f:comment>
      <input {attributes -> f:format.raw()} type="hidden" value="0">
      <input {attributes -> f:format.raw()} type="file" {f:if(condition: node.properties.placeholder, then: 'placeholder="{node.properties.placeholder}"')} accept="{allowedMimeTypes}">
    </f:else>
  </f:if>
</f:section>
