{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="formbuilder selectbox{errorclass}">
    <label>{label}</label>
    <f:if condition="{node.context.workspace.name} == 'live'">
        <f:then>
            <select name="--data[{node.identifier}]"{f:if(condition: required, then: ' required')}{f:if(condition: multiple, then: ' multiple')}>
                <f:if condition="{firstoption}">
                    <f:then>
                        <option>{firstoption}</option>
                    </f:then>
                </f:if>

                {elements -> f:format.raw()}
            </select>
        </f:then>
        <f:else>
            <ul>
                {elements -> f:format.raw()}
            </ul>

        </f:else>
    </f:if>


</div>
