{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="{layoutName}" />
<f:section name="Content">
    <f:if condition="{neos:rendering.inBackend()}">
        <f:then>
            <strong><f:translate id="formBuilder.index.backend.addSelectElements" package="CRON.FormBuilder" /></strong>
            <ul>
                {elements -> f:format.raw()}
            </ul>
        </f:then>
        <f:else>
            <select {attributes -> f:format.raw()}{f:if(condition: multiple, then: ' multiple')}>
                 {elements -> f:format.raw()}
            </select>
        </f:else>
    </f:if>
</f:section>
