<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/form.css', package: 'CRON.FormBuilder')}" />

<f:form action="transfer" method="POST">
	<f:if condition="{legend}">
		<legend>{legend}</legend>
	</f:if>
	{elements -> f:format.raw()}
	<f:if condition="{legend}">
	</fieldset>
	</f:if>
</f:form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{f:uri.resource(path: 'JavaScript/jquery-placeholder.js', package: 'CRON.FormBuilder')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/form.js', package: 'CRON.FormBuilder')}"></script>